header {
    background: #181717;
    height: 109px;
    font-family: "Alata", sans-serif;
    color: rgb(177, 177, 177);

    position: sticky;
    top: 0;
}

header h1 {
    font-size: 2rem;

    display:flex;
}

header a{
    color: rgb(177, 177, 177);
}

h2 {
    padding-top: 16px;

    font-family: "Alata", sans-serif;
    font-size: 1.5em;
}

p {
    padding-top: 16px;
    
    font-family: "Alata", sans-serif;
    font-size: 1em;
    line-height: 1.5;

    max-width: 630px; 
    word-break: keep-all;
}


a {
    color: rgb(0, 0, 0);
}

.imagem {
    
    background: rgb(177, 177, 177);
    border-radius: 128px;
    
}



/* Aula 2 */
/* header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
    height: 100%;
    
    margin-left: 115px;
    margin-right: 131px;
}

.links-header a{
    margin: 16px;
    font-size: 1.5rem;
}

/* body */
#sobre-mim {
    padding: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    background: #5c3838;
    color:rgb(209, 209, 209);

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* footer */

#listas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background: #794d4d;
    color: rgb(207, 207, 207);
}

.lista-com-titulo {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    
}

.lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    margin-top: 26px;
    margin-bottom: 55px;

    color: black;
}

#hobbies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;

}

#top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

li {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    
    background: #DFDFDF;
    border-radius: 5%;
    box-sizing: border-box;

    margin: 5px;
    
    color:#5c3838;
    
    padding-bottom: 9px;

    width: 104px;
    height: 141px;
}

ol {
    font-family: "Alata", sans-serif;
    font-size: 1em;
}

ul {
    font-family: "Alata", sans-serif;
    font-size: 1em;
}

#icon {
    width: 32px;
    margin: 10px;

    border-radius: 16px;

    background: rgb(255, 255, 255);
}

#footer {
    height: 70px;
    margin-left: 76.5px;
    margin-right: 96.5px;
    justify-content: space-between;
    display: flex;
    align-items: center
}

#icones {
    display: flex;
    align-items: center
}

footer {
    background: #181717;
    font-size: 1;
}

#botao-contato {
    background: #DFDFDF;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.teste {
    font-size: 3rem;
}
